body {
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25% !important; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50% !important; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 37.5% !important;
  }

  @include respond(big-desktop) {
    font-size: 75% !important; //1rem = 12, 12/16
  }
}
