// Colors

$primary-color-1: #45d3fe;
$primary-color-2: #408ce1;

$dark-blue-color: #408ce1;

$main-heading-color: #5aa4e5;

$link-color: #2674cc;

$background-white: #f3f6f9;
$grey: #606980;

$form-color: rgba(255, 255, 255, 0.2);
$form-color-2: rgba(255, 255, 255, 0.8);

$white-color: #ffffff;

$font-color: #000000;
$font-color-2: #6d6d6d;

$background-gradient: linear-gradient(
  to right top,
  $primary-color-1,
  $primary-color-2
);

// GRID
$grid-width: 138.8rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 7rem;
