.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5aa4e5;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    @include respond(tab-port) {
      align-items: center;
      justify-content: center;
    }

    .breadcrumbs {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 25px;
      justify-content: flex-start;
      padding: 5px 0;
      grid-row: 1/2;
      grid-column: 1 / -1;

      @include respond(tab-port) {
        display: none;
      }
    }
    .breadcrumbs li {
      color: #2d68c4;
      font-weight: 500;
      font-size: 12px;
      list-style: none;

      &::marker {
        visibility: hidden;
        display: none;
      }
    }

    .breadcrumbs li:hover {
      cursor: pointer;
    }

    .breadcrumbs li a {
      color: $white-color;
      text-decoration: none;
      position: relative;
      font-size: 1.8rem;
    }

    .breadcrumbs li:first-child a {
      color: $white-color;
    }

    .breadcrumbs li:not(:last-child) a::after {
      content: "/";
      display: block;
      position: absolute;
      right: -16px;
      top: -2px;
      color: $white-color;
    }
  }
}
